$primary: #4D533C;
$light-greenish: #B6C197;
$blueish: #152934;
$greyish: #213842;
$secondary: #FFD723;

$headline-color: $primary;
$text-color: $greyish;
$span-job-color: $blueish;
$span-name-color: $primary;
$footer-text: $light-greenish;
$hover-link: $secondary;

$shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
$slow: all 0.3s ease 0s;